body{
	background-image: url("wallpaper.jpg");
	color:#B9F6CA;
	foont-family:Tahoma, Geneva, sans-serif;
}

h3{
	color:#FFCDD2;
	font-family:Georgia;
}

#background {
	color: #76FF03;
	font-family:Comic Sans MS,Arial;
}

.plans {
	color: #FFEA00;
	font-family:Comic Sans MS,Arial;
	
}	

.interests{
	color: #18FFFF;
	font-family:Comic Sans MS,Arial;
	}	

 table, th, td {
   border: 1px solid #CDDC39;
   color:#E0E0E0;
}

a{
	color:#FF3D00;
	font-family:sans-serif;	
}

a:hover {
    color:#FF9E80;
	text-decoration: none;
}

